@model TalkLikeTv.Mvc.Models.CreateAudioViewModel

<div class="row">
    <h1 class="display-2">Choose your voices</h1>
    <form id="audio-form" type="POST" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div id="language-selection">
            @await Html.PartialAsync("_LanguageSelection", Model)
        </div>
        <hr/>
        <br/>
        <div id="voice-selection">
            <!-- Voice selection will be loaded here -->
        </div>
    </form>
</div>

<script>
    function attachPlaySoundListeners() {
        document.querySelectorAll('.play_sound').forEach(function(playButton) {
            playButton.addEventListener('click', function() {
                var audioId = this.id.replace('play-sound-', 'sound-');
                var audio = document.getElementById(audioId);
                audio.play();
            });
        });
    }

    document.querySelectorAll('.language-radio').forEach(function(radio) {
        radio.addEventListener('change', function() {
            var selectedLanguage = document.querySelector('.language-radio:checked').value;
            fetch('/Home/GetVoices', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]').value
                },
                body: JSON.stringify(selectedLanguage)
            })
                .then(response => response.text())
                .then(html => {
                    document.getElementById('voice-selection').innerHTML = html;
                    attachPlaySoundListeners(); // Re-attach event listeners
                });
        });
    });

    attachPlaySoundListeners(); // Initial attachment of event listeners
</script>